<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

    <!-- CSS específico de la página -->
    <link rel="stylesheet" th:if="${pageCss != null}" th:href="@{/css/} + ${pageCss}">

    <!-- Título dinámico -->
    <title th:text="${pagetitle}">Clarity</title>
</head>
<body>
</body>
</html>
