<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="Layouts/head :: head ('Registro')"></head>
<body>
<header th:replace="Layouts/header :: header"></header>
<main>
	<div class="container-fluid d-flex justify-content-center align-items-center py-4">
		<div class="card shadow-lg p-4 ">
			<h2 class="text-center mb-4">Crear Cuenta</h2>
			<form th:action="@{/auth/register}" th:object="${usuario}" method="post">
				
				<div th:if="${error}" class="alert alert-danger" role="alert">
					<p th:text="${error}"></p>
				</div>

				
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input class="form-control" type="text" id="nombre" th:field="*{nombre}" placeholder="Ingrese su nombre">
					<div th:if="${#fields.hasErrors('nombre')}" class="text-danger">
						<p th:each="err : ${#fields.errors('nombre')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="apellido" class="form-label">Apellido</label>
					<input class="form-control" type="text" id="apellido" th:field="*{apellido}" placeholder="Ingrese su apellido">
					<div th:if="${#fields.hasErrors('apellido')}" class="text-danger">
						<p th:each="err : ${#fields.errors('apellido')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="direccion" class="form-label">Dirección</label>
					<input class="form-control" type="text" id="direccion" th:field="*{direccion}" placeholder="Ingrese su dirección">
					<div th:if="${#fields.hasErrors('direccion')}" class="text-danger">
						<p th:each="err : ${#fields.errors('direccion')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input class="form-control" type="email" id="email" th:field="*{email}" placeholder="Ingrese su correo electrónico">
					<div th:if="${#fields.hasErrors('email')}" class="text-danger">
						<p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input class="form-control" type="password" id="password" th:field="*{contrasenya}" placeholder="Ingrese su contraseña">
					<div th:if="${#fields.hasErrors('contrasenya')}" class="text-danger">
						<p th:each="err : ${#fields.errors('contrasenya')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="telefono" class="form-label">Teléfono</label>
					<input class="form-control" type="text" id="telefono" th:field="*{telefono}" placeholder="Ingrese su número de teléfono">
					<div th:if="${#fields.hasErrors('telefono')}" class="text-danger">
						<p th:each="err : ${#fields.errors('telefono')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3">
					<label for="dni" class="form-label">DNI</label>
					<input class="form-control" type="text" id="dni" th:field="*{dni}" placeholder="Ingrese su DNI">
					<div th:if="${#fields.hasErrors('dni')}" class="text-danger">
						<p th:each="err : ${#fields.errors('dni')}" th:text="${err}"></p>
					</div>
				</div>

				
				<div class="mb-3 text-center">
					<button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
				</div>
			</form>
		</div>
	</div>
</main>
</body>
</html>
