@charset "UTF-8";
:root{
    --primaryColor: #ffff80;
    --secondaryColor:#eaeab3;
    --nav-bar-color: #212121;
    --cart-button-color: hsl(120, 70%, 60%);
    --titlesLetters: "Rozha One", serif;
    --button-color:#28a745;
    --button-color-hover:#218838;
}
