@charset "UTF-8";
@import url(../css/colors-and-fonts.css);

/* General Styles */
body {
    background-color: var(--primaryColor);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--nav-bar-color);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: var(--titlesLetters);
    font-size: 28px;
    margin: 0;
    color: #fff;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #444;
    color: #d1d1d1;
}

/* Login Page Styles */
body#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px; /* Espacio para el header fijo */
}

#login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
}

#login-container h2 {
    font-family: var(--titlesLetters);
    color: var(--nav-bar-color);
    margin-bottom: 1.5em;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#login-form label {
    text-align: left;
    font-size: 0.9em;
    color: #444;
    margin-bottom: 0.5em;
}

#login-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
    border-color: var(--secondaryColor);
    outline: none;
}

#login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 1em;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s ease-in-out;
}

#login-form button[type="submit"] {
    background-color: var(--button-color);
    color: #fff;
}

#login-form button[type="submit"]:hover {
    background-color: #218838;
    color: white;
    transform: translateY(-3px);
}

#login-form button.create-account {
    background-color: var(--button-color);
    color: white;
    margin-top: 0.5em;
    font-weight: bold;
}

#login-form button.create-account a {
    color: white;
    text-decoration: none;
    display: block;
}

#login-form button.create-account:hover {
    background-color: #218838;
    transform: translateY(-3px);
}


#error-message {
    color: #d32f2f;
    font-size: 0.9em;
    margin-top: 1em;
}

a {
    text-decoration: none;
    
}
