<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 <head th:replace ="Layouts/header :: head('Login')"></head>
<body id="login-page">
    <main id="login-container">
        <section>
                <h2>Inicio de Sesión</h2>
                <form id="login-form" action="" method="post" class="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                    <button type="submit">Login</button>
                    <button class="btn "><a href=".">Crear Cuenta</a></button>
                </form>
        </section>
        <img src="">
    </main>
</body>
</html>